@model IEnumerable<todo_domain_entities.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks to do</h1>

<div class="btn-group" role="group">
    <a asp-action="Create" class="btn btn-success btn-sm">Create new task</a>
</div>
<div class="btn-group" role="group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hideCompleted" onchange="hideCompletedItems(this.checked)">
        <label class="form-check-label" for="hideCompleted">
            Hide Completed Items
        </label>
    </div>
</div>
<table class="table table-hover" aria-describedby="list of items">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Creation Date
        </th>
        <th>
            Due Date
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="@(item.IsCompleted ? "completed" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

